<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <springProperty scope="context" name="app_name" source="spring.application.name"/>
    <contextName>logback</contextName>
    <property name="LOG_PATH" value="/data/logs/sdk/basic/"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${EAGLEEYE_TRACE_ID:- } ${PID:- } [%t] [%-40.40logger{39}:%line] %m%n"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr([%t]){faint} %clr([%-40.40logger{39}:%line]){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <!--输出到控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--FILE-->
    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<pattern>${LOG_PATTERN}</pattern>-->
            <!--<charset>UTF-8</charset>-->
        <!--</encoder>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
            <!--<FileNamePattern>${LOG_PATH}/${app_name}-%d{yyyy-MM-dd}.%i.log</FileNamePattern>-->
            <!--<MaxHistory>15</MaxHistory>-->
            <!--<maxFileSize>50MB</maxFileSize>-->
            <!--<totalSizeCap>500MB</totalSizeCap>-->
        <!--</rollingPolicy>-->
    <!--</appender>-->

    <!--synchronization-->
    <!--<appender name="synchronization" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<pattern>${LOG_PATTERN}</pattern>-->
            <!--<charset>UTF-8</charset>-->
        <!--</encoder>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
            <!--<FileNamePattern>${LOG_PATH}/${app_name}-synchronization-%d{yyyy-MM-dd}.%i.log</FileNamePattern>-->
            <!--<MaxHistory>15</MaxHistory>-->
            <!--<maxFileSize>50MB</maxFileSize>-->
            <!--<totalSizeCap>500MB</totalSizeCap>-->
        <!--</rollingPolicy>-->
    <!--</appender>-->

    <!-- 指定路径下文件日志到指定文件 -->
    <!--<logger name="com.choice.mqevent" level="INFO" additivity="false">-->
        <!--<appender-ref ref="synchronization"/>-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->
    <!--<logger name="com.choice.config" level="INFO" additivity="false">-->
        <!--<appender-ref ref="synchronization"/>-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <!--<logger name="org.springframework" level="ERROR"/>-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="FILE"/>-->
    </root>
</configuration>